// Fonts import
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

// Fonts
$font-default: 'Source Sans Pro', sans-serif;

// Colors
$bg-white: #efefef;
$bg-red: #fb9d9d;
$bg-blue: #adc7e9;