.container {
  background-color: white;
  border-bottom: 1px solid #dcdcdc61;
  height: 80px;
  cursor: pointer;
  display: flow-root;
}

.container:hover {
  background-color: whitesmoke;
}

.roomName {
  font-size: 22px;
  padding-left: 20px;
  margin-top: 13px;
}

.lastMessage {
  padding: 6px;
  min-width: 200px;
  margin: 0 21px;
  margin-top: -23px;
  padding: 0px;
  color: #8a8a8a;
}

.postDate {
  float: right;
}