.container {
  width: 68%;
  min-width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 1px 3px #8e8e8e;
  margin-left: 2%;
  overflow-x: auto;
  position: relative;
}

.window {
  height: 85%;
  overflow-y: auto;
}

.newMessage {
  display: flex;
}

.messageList {
  list-style-type: none;
}

.messageInfos {
  margin-top: 20px;
}

.message {
  width: max-content;
  padding: 6px;
  background-color: #e6e6e6;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #7d7d7d;
  max-width: 85%;
}

.messageOwner {
  color: #15d415;
  font-weight: bold;
  margin-top: 0;
}

.messageBody {
  margin-top: 4px;
  margin-bottom: 0;
}

.invite {
  text-align: center;
  background-color: #f1f1f1;
  width: 80%;
  margin: 0 auto;
  border-radius: 2px;
}

.invite p {
  padding: 8px;
}

.invite a {
  margin-left: 5px;
}

.closeInvite {
  color: red;
  margin-left: 19px;
  margin-bottom: -4px;
  cursor: pointer;
}