.container {
  width: 100%;
  min-height: 150px;
  height: auto;
  background-image: url('../../../assets/loading-blue-200.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}