.messageList {
  list-style-type: none;
}

.messageInfos {
  margin-top: 20px;
}

.message {
  width: max-content;
  padding: 6px;
  background-color: #e6e6e6;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #7d7d7d;
  max-width: 85%;
}

.messageOwner {
  color: #15d415;
  font-weight: bold;
  margin-top: 0;
}

.messageBody {
  margin-top: 4px;
  margin-bottom: 0;
}