.container {
  width: 100%;
  margin: 0 auto;
  height: 35px;
  position: absolute;
  bottom: 50px;
}

.flex {
  display: flex;
  width: 95%;
  height: 35px;
  margin: 0 auto;
}

.input {
  width: 90%;
  border: none;
  box-shadow: 0px 0px 2px #717171;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

.button {
  width: 10%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border: none;
  box-shadow: 0px 0px 2px #717171;
  cursor: pointer;
}
